@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
}

a,
button {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
input,
button:focus,
input:focus {
  padding: 0;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

body {
  --ac: #e43071;
  --subAc: #ffc1d8;
  --outBr: #ffdae7;
  --darkAc: #be285e;
  --decoreColor: #f8c5d7;
}

body.green-theme {
  --ac: #26d68a;
  --subAc: #9be8c7;
  --outBr: #a1e7c9;
  --darkAc: #0b9056;
  --decoreColor: #86e4bc;
}

*.section-pb {
  padding-top: 4rem;
  padding-bottom: 4.4375rem;
}

.lock {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  max-width: 75.625rem;
  margin: 0 auto;
  padding-inline: 3.125rem;
}
@media (max-width: 1199px) {
  .container {
    padding-inline: 1.875rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: 1rem;
  }
}

.accent-span {
  color: var(--subAc) !important;
}

.txt-accent {
  color: var(--ac) !important;
}

.h1 {
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 1.1;
}

.h2 {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 1.1;
}

.h3 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
}

.h4 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.5;
}

.h5 {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 1.1;
}

.subtitle {
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.35;
}

@media (max-width: 991px) {
  .h1 {
    font-size: 3.375rem;
  }
  .h2 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 2rem;
  }
  .h2 {
    font-size: 2.625rem;
  }
  .h3 {
    font-size: 26px;
  }
  .h4 {
    line-height: 1.2;
  }
  .subtitle {
    font-size: 1rem;
  }
}
.svg-search {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.svg-xmark {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #858585;
}

.form-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-item input {
  padding: 0 2.5rem;
  display: block;
  width: 100%;
  height: 3.125rem;
  font-size: 1rem;
  color: #424242;
  border: 0.0625rem solid #d2d2d2;
  border-radius: 0.3125rem;
}
.form-item input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input::-moz-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input:-ms-input-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input::-ms-input-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input::placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}

.search-form {
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  width: 100%;
}
.search-form .search-btn,
.search-form .reset-btn {
  width: 2.1875rem;
  height: 2.1875rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.search-form .search-btn > *,
.search-form .reset-btn > * {
  vertical-align: middle;
}
.search-form .search-btn {
  left: 0.25rem;
}
.search-form .search-btn .svg-search {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: var(--ac);
}
.search-form .reset-btn {
  right: 0.25rem;
}

.btn,
.btn-outline {
  display: inline-block;
  min-width: 14.8125rem;
  height: 4.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 4.25rem;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  color: white;
  background-color: var(--ac);
  border-radius: 2.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .btn,
  .btn-outline {
    height: 3.5rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 767px) {
  .btn,
  .btn-outline {
    width: 100%;
    max-width: 18rem;
  }
}

.btn:hover {
  background-color: var(--darkAc);
}

.btn:focus {
  background-color: var(--darkAc);
  outline: 0.5625rem solid var(--outBr);
}

.btn-outline {
  border: 0.125rem solid var(--ac);
  color: var(--ac);
  background-color: #fff;
  line-height: 4rem;
}
@media (max-width: 991px) {
  .btn-outline {
    height: 3.75rem;
    line-height: 3.5rem;
  }
}

.btn-outline--slim {
  min-width: 10.375rem;
  height: 3.125rem;
  font-weight: 400;
  line-height: 2.875rem;
}

.btn-outline:hover {
  color: var(--darkAc);
  border-color: var(--darkAc);
}

.btn-outline:focus {
  color: var(--ac);
  background-color: #fff;
  border: 0.125rem solid var(--ac);
  outline: 0.5625rem solid var(--outBr);
}

.btn-outline--slim:focus {
  outline: 0.3125rem solid var(--outBr);
}

.search-open {
  height: 3.125rem;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  color: white;
  background: transparent;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search-open:hover {
  opacity: 0.7;
}
@media (max-width: 574px) {
  .search-open span {
    display: none;
  }
}

.header-menu {
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1439px) {
  .header-menu {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .header-menu {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (max-width: 991px) {
  .header-menu {
    margin-left: auto;
    width: 20rem;
    height: 100%;
    padding-block: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.75rem;
    font-size: 1.25rem;
    background-color: var(--ac);
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  .header-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header-menu a {
  padding: 0.1875rem;
  color: white;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header-menu a:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  #header-menu {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

#header-menu.active {
  display: block;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#header-menu.active .header-menu {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-search-wrapper {
  padding-block: 1.5rem;
  position: absolute;
  top: -1.25rem;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
}
@media (max-width: 767px) {
  .header-search-wrapper {
    padding-block: 1rem;
  }
}
.header-search-wrapper.search-form--open {
  top: 6.3125rem;
}
@media (max-width: 767px) {
  .header-search-wrapper.search-form--open {
    top: 4rem;
  }
}

.menu-toggle {
  width: 1.875rem;
  height: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 11;
  cursor: pointer;
}
@media (max-width: 991px) {
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu-toggle span {
  width: 100%;
  height: 0.125rem;
  position: relative;
  background-color: white;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu-toggle span::after, .menu-toggle span::before {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu-toggle span::after {
  top: -7px;
}
.menu-toggle span::before {
  bottom: -7px;
}

.active.menu-toggle span {
  background-color: transparent !important;
}
.active.menu-toggle span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}
.active.menu-toggle span::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.logo {
  margin-right: auto;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.095;
  color: #fff;
}
@media (max-width: 1024px) {
  .logo {
    font-size: 2rem;
  }
}
@media (max-width: 574px) {
  .logo {
    font-size: 1.375rem;
  }
}

.header {
  position: relative;
}
.header__container {
  padding-inline: 0.9375rem;
  margin: 0 auto;
  width: 100%;
  max-width: 86.875rem;
}

.header-nav {
  height: 6.3125rem;
  background-color: var(--ac);
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  .header-nav {
    height: 4rem;
  }
}
.header-nav__btn {
  margin-left: 4.5625rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 1439px) {
  .header-nav__btn {
    margin-left: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .header-nav__btn {
    margin-left: 1.5rem;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (max-width: 991px) {
  .header-nav__btn .btn-outline {
    display: none;
  }
}

.slider-content {
  height: calc(100vh - 6.875rem);
  max-height: 68.75rem;
  position: relative;
  padding-bottom: 0.1875rem;
}
@media (max-width: 1599px) {
  .slider-content {
    height: 44.0625rem;
  }
}
@media (max-width: 1439px) {
  .slider-content {
    height: 37.5rem;
  }
}
@media (max-width: 1199px) {
  .slider-content {
    height: 31.25rem;
  }
}
@media (max-width: 899px) {
  .slider-content {
    height: 25.625rem;
  }
}
.slider-content__title {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  text-align: center;
}
.slider-content__title .h1 {
  margin-bottom: 1.4375rem;
  margin-left: auto;
  margin-right: auto;
  width: 15ch;
}
.slider-content__title .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-family: "OpenSans";
}
@media (max-width: 767px) {
  .slider-content__title {
    top: 43%;
  }
  .slider-content__title .btn {
    min-width: 13rem;
  }
}
.slider-content .header-content__svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.slider-content .header-content__svg svg {
  display: block;
  width: 100%;
}
.slider-content .header-content__svg .svg-border-mob {
  display: none;
}
@media (max-width: 767px) {
  .slider-content .header-content__svg .svg-border-desk {
    display: none;
  }
  .slider-content .header-content__svg .svg-border-mob {
    display: block;
  }
}

.swiper {
  --swiper-pagination-bottom: 60px;
  height: 100%;
}
@media (max-width: 1599px) {
  .swiper {
    --swiper-pagination-bottom: 40px;
  }
}
@media (max-width: 423px) {
  .swiper {
    --swiper-pagination-bottom: 23px;
  }
}
.swiper__item, .swiper__item img {
  width: 100%;
  height: 100%;
  background-color: rgba(45, 40, 36, 0.2);
  position: relative;
}
@media (max-width: 423px) {
  .swiper__item, .swiper__item img {
    -o-object-position: 60%;
       object-position: 60%;
  }
}
.swiper__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 40, 36, 0.2);
  z-index: 2;
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 6px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  vertical-align: middle;
}
.swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: var(--ac);
}

.result {
  padding-top: 5.875rem;
  padding-bottom: 7.625rem;
}
@media (max-width: 991px) {
  .result {
    padding-top: 3.125rem;
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 767px) {
  .result {
    padding-top: 2.1875rem;
    padding-bottom: 1.4375rem;
  }
}
.result-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (max-width: 767px) {
  .result-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.875rem;
  }
}
.result__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.result__img-top img {
  width: 21.875rem;
  aspect-ratio: 7/8;
}
@media (max-width: 991px) {
  .result__img-top img {
    width: 17.5rem;
  }
}
@media (max-width: 767px) {
  .result__img-top img {
    width: 11rem;
    height: 15.5rem;
  }
}
.result__img-bottom {
  padding-top: 9rem;
  margin-left: -9rem;
}
@media (max-width: 767px) {
  .result__img-bottom {
    padding-top: 6rem;
    margin-left: -3.75rem;
  }
}
.result__img-bottom img {
  width: 15rem;
  aspect-ratio: 2/3;
}
@media (max-width: 991px) {
  .result__img-bottom img {
    width: 12.5rem;
  }
}
@media (max-width: 767px) {
  .result__img-bottom img {
    width: 9.125rem;
  }
}
.result__descrip {
  padding-bottom: 1.4375rem;
  max-width: 33.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 767px) {
  .result__descrip {
    padding-bottom: 0;
  }
}
.result .h4 {
  margin-bottom: 0.375rem;
}
@media (max-width: 767px) {
  .result .h4 {
    margin-bottom: 0.6875rem;
  }
}
.result__descrip-text {
  margin-bottom: 1.75rem;
  font-size: 1rem;
  line-height: 2.3125rem;
}
@media (max-width: 767px) {
  .result__descrip-text {
    padding-right: 1.25rem;
    margin-bottom: 3rem;
    line-height: 2rem;
  }
}

.cta {
  text-align: center;
}
.cta .h2 {
  margin-bottom: 1.5rem;
  text-shadow: 0 0 60px rgba(0, 0, 0, 0.46);
}
@media (max-width: 767px) {
  .cta .h2 {
    margin-bottom: 0.5rem;
  }
}
.cta .subtitle {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 26.125rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.46);
}
.cta .swiper {
  --swiper-pagination-bottom: 26px;
}
.cta .slider-content {
  padding-bottom: 0;
}

.premium {
  padding-top: 14rem;
  padding-bottom: 8.0625rem;
}
@media (max-width: 991px) {
  .premium {
    padding-top: 7rem;
    padding-bottom: 4.6875rem;
  }
}
@media (max-width: 767px) {
  .premium {
    padding-top: 4.625rem;
    padding-bottom: 1.75rem;
  }
}
.premium__content {
  gap: 9.0625rem;
}
@media (max-width: 1364px) {
  .premium__content {
    gap: 1.875rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .premium__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
  }
}
.premium__descrip {
  padding-top: 3.875rem;
  max-width: 30.5625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1364px) {
  .premium__descrip {
    padding-top: 0;
  }
}
@media (max-width: 1199px) {
  .premium__descrip {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding-right: 1.25rem;
    line-height: 2rem;
  }
}
.premium__descrip .h4 {
  margin-bottom: 0.25rem;
}
@media (max-width: 767px) {
  .premium__descrip .h4 {
    margin-bottom: 0.5625rem;
  }
}
.premium__descrip-text {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 2.3125rem;
}
@media (max-width: 767px) {
  .premium__descrip-text {
    margin-bottom: 2.4375rem;
    padding-right: 1.25rem;
    line-height: 2rem;
  }
}
.premium__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.premium__img img {
  aspect-ratio: 3/2;
}
@media (max-width: 1199px) {
  .premium__img img {
    width: 23.75rem;
  }
}
@media (max-width: 991px) {
  .premium__img img {
    width: 16.25rem;
  }
}
@media (max-width: 767px) {
  .premium__img img {
    width: 12.625rem;
  }
}
.premium__img-top {
  position: relative;
  z-index: 2;
}
.premium__img-bottom {
  padding-left: 9.375rem;
  margin-top: -8.75rem;
}
@media (max-width: 1199px) {
  .premium__img-bottom {
    padding-left: 3.125rem;
    margin-top: -5rem;
  }
}
@media (max-width: 767px) {
  .premium__img-bottom {
    padding-left: 5.125rem;
    margin-top: -4rem;
  }
  .premium__img-bottom img {
    width: 11.9375rem;
  }
}

.stories {
  padding-top: 7.875rem;
  padding-bottom: 5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4e3e9), to(rgb(255, 255, 255)));
  background: linear-gradient(to top, #f4e3e9 0%, rgb(255, 255, 255) 100%);
}
@media (max-width: 991px) {
  .stories {
    padding-top: 3.75rem;
    padding-bottom: 3rem;
    overflow: hidden;
  }
}
.stories-content {
  margin: 0 auto;
  max-width: 59.6875rem;
  width: 100%;
}
@media (max-width: 991px) {
  .stories-content {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .stories-content {
    padding: 0 28px;
  }
}
.stories__title {
  margin-bottom: 1.875rem;
}
@media (max-width: 767px) {
  .stories__title {
    padding-left: 3px;
  }
}
.stories__title .h3 {
  margin-bottom: 12px;
  line-height: 1.19;
}
@media (max-width: 767px) {
  .stories__title .h3 {
    margin-bottom: 6px;
  }
}
.stories__title p {
  font-size: 1.125rem;
}
@media (max-width: 767px) {
  .stories__title p {
    font-size: 9px;
  }
}

.stories-cards-wrapper {
  padding-left: 97px;
  padding-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 33px;
  position: relative;
}
@media (max-width: 991px) {
  .stories-cards-wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 27px;
    padding-left: 0;
    padding-bottom: 0;
    width: calc(50% + 50vw);
    overflow: scroll;
    scrollbar-width: none;
  }
  .stories-cards-wrapper::-webkit-scrollbar {
    display: none;
  }
}

.stories-card {
  padding: 35px 32px 38px 27px;
  width: 21.8125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.18);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.18);
  background: #fff;
  border-radius: 10px;
}
.stories-card .h5 {
  margin-bottom: 29px;
  color: var(--ac);
}
.stories-card__text {
  padding-left: 37px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.78;
  position: relative;
}
.stories-card__text span {
  font-family: "Times New Roman";
  font-size: 42px;
  line-height: 1;
  color: var(--decoreColor);
  position: absolute;
  top: -8px;
  left: 0;
}
.stories-card__footer {
  padding-left: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 17px;
}
.stories-card__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.stories-card__img img {
  border-radius: 50%;
}
.stories-card__name p {
  font-weight: 600;
  font-size: 18px;
}
.stories-card__name span {
  display: block;
  font-size: 14px;
  color: #969bab;
}
.stories-card:nth-child(2) {
  padding-top: 46px;
  padding-left: 34px;
  width: 449px;
  margin-top: -141px;
}
@media (max-width: 991px) {
  .stories-card:nth-child(2) {
    margin-top: 0;
  }
}
.stories-card:nth-child(2) .h5 {
  margin-bottom: 20px;
}
.stories-card:nth-child(2) .stories-card__text {
  padding-left: 32px;
  margin-bottom: 10px;
}
.stories-card:nth-child(3) {
  padding: 31px;
  padding-left: 35px;
  width: 351px;
  position: absolute;
  right: 123px;
  bottom: 0;
}
@media (max-width: 991px) {
  .stories-card:nth-child(3) {
    position: relative;
    right: auto;
    bottom: auto;
  }
}
@media (max-width: 767px) {
  .stories-card:nth-child(3) {
    margin-right: 20px;
  }
}
.stories-card:nth-child(3) .h5 {
  margin-bottom: 35px;
}
.stories-card:nth-child(3) .stories-card__text {
  padding-left: 30px;
}
.stories-card:nth-child(3) .stories-card__footer {
  padding-left: 30px;
}

@media (max-width: 991px) {
  .stories-card,
  .stories-card:nth-child(2),
  .stories-card:nth-child(3) {
    padding: 24px 22px 26px 19px;
    width: 15.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stories-card .h5,
  .stories-card:nth-child(2) .h5,
  .stories-card:nth-child(3) .h5 {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .stories-card .stories-card__text,
  .stories-card:nth-child(2) .stories-card__text,
  .stories-card:nth-child(3) .stories-card__text {
    margin-bottom: 12px;
    padding-left: 25px;
    font-size: 12px;
    line-height: 1.78;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .stories-card .stories-card__text span,
  .stories-card:nth-child(2) .stories-card__text span,
  .stories-card:nth-child(3) .stories-card__text span {
    font-size: 26px;
    top: -3px;
  }
  .stories-card .stories-card__footer,
  .stories-card:nth-child(2) .stories-card__footer,
  .stories-card:nth-child(3) .stories-card__footer {
    padding-left: 25px;
    gap: 13px;
  }
  .stories-card .stories-card__img,
  .stories-card:nth-child(2) .stories-card__img,
  .stories-card:nth-child(3) .stories-card__img {
    width: 41px;
    height: 40px;
  }
  .stories-card .stories-card__name p,
  .stories-card:nth-child(2) .stories-card__name p,
  .stories-card:nth-child(3) .stories-card__name p {
    font-size: 12px;
  }
  .stories-card .stories-card__name span,
  .stories-card:nth-child(2) .stories-card__name span,
  .stories-card:nth-child(3) .stories-card__name span {
    font-size: 9px;
  }
}

.app {
  padding-top: 112px;
  padding-bottom: 55px;
  color: white;
  background-color: var(--ac);
  position: relative;
}
.app::after {
  content: "";
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  display: none;
}
@media (max-width: 991px) {
  .app::after {
    display: block;
  }
}
@media (max-width: 767px) {
  .app {
    padding-top: 51px;
    padding-bottom: 119px;
    overflow: hidden;
  }
}
.app-container {
  margin: 0 auto;
  max-width: 59.6875rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
@media (max-width: 1199px) {
  .app-container {
    gap: 40px;
  }
}
@media (max-width: 991px) {
  .app-container {
    padding: 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .app-container {
    padding: 0 28px;
  }
}
.app-content {
  max-width: 489px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.app-content .h4 {
  margin-bottom: 4px;
}
.app-content__text {
  margin-bottom: 16px;
  line-height: 2.31;
}
@media (max-width: 767px) {
  .app-content__text {
    margin-bottom: 30px;
    line-height: 2.06;
  }
}
.app-links__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.app-links__group a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .app-links__group img {
    width: 133px;
    height: 40px;
  }
}
.app-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-top: -137px;
  position: relative;
  z-index: 3;
}
@media (max-width: 1199px) {
  .app-images {
    gap: 23px;
  }
}
@media (max-width: 991px) {
  .app-images {
    margin-top: 0;
  }
}
.app-images__item {
  width: 232px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1199px) {
  .app-images__item {
    width: 190px;
  }
}
@media (max-width: 776px) {
  .app-images__item {
    width: 166px;
  }
}
.app-images__item:last-child {
  position: relative;
  top: 137px;
}
@media (max-width: 776px) {
  .app-images__item:last-child {
    top: 123px;
  }
}

.sosial {
  height: 500px;
  background-color: #ededed;
  position: relative;
}
@media (max-width: 767px) {
  .sosial {
    position: static;
  }
}