@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
}

a,
button {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
input,
button:focus,
input:focus {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

body {
  --ac: #e43071;
  --subAc: #ffc1d8;
  --outBr: #ffdae7;
  --darkAc: #be285e;
}

body.green-theme {
  --ac: #26d68a;
  --subAc: #9be8c7;
  --outBr: #a1e7c9;
  --darkAc: #0b9056;
}

.lock {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1 {
  font-weight: 800;
  font-size: 4.375rem;
  line-height: 1.1;
}

.h2 {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 1.1;
}

.h3 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
}

.h4 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.1;
}

.h5 {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 1.1;
}

.svg-search {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.svg-xmark {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #858585;
}

.form-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-item input {
  padding: 0 2.5rem;
  display: block;
  width: 100%;
  height: 3.125rem;
  font-size: 1rem;
  color: #424242;
  border: 0.0625rem solid #d2d2d2;
  border-radius: 0.3125rem;
}
.form-item input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input::-moz-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input:-ms-input-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input::-ms-input-placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}
.form-item input::placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}

.search-form {
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  width: 100%;
}
.search-form .search-btn,
.search-form .reset-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.search-form .search-btn {
  left: 0.5rem;
}
.search-form .search-btn .svg-search {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: var(--ac);
}
.search-form .reset-btn {
  right: 0.5rem;
}

.btn,
.btn-outline {
  display: inline-block;
  min-width: 14.8125rem;
  height: 4.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 4.25rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.046875rem;
  white-space: nowrap;
  text-align: center;
  color: white;
  background-color: var(--ac);
  border-radius: 2.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--darkAc);
}

.btn:focus {
  background-color: var(--darkAc);
  outline: 0.5625rem solid var(--outBr);
}

.btn-outline {
  border: 0.125rem solid var(--ac);
  color: var(--ac);
  background-color: #fff;
  line-height: 4rem;
}

.btn-outline--slim {
  min-width: 10.375rem;
  height: 3.125rem;
  font-weight: 400;
  line-height: 2.875rem;
}

.btn-outline:hover {
  color: var(--darkAc);
  border-color: var(--darkAc);
}

.btn-outline:focus {
  color: var(--ac);
  background-color: #fff;
  border: 0.125rem solid var(--ac);
  outline: 0.5625rem solid var(--outBr);
}

.btn-outline--slim:focus {
  outline: 0.3125rem solid var(--outBr);
}

.search-open {
  height: 3.125rem;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  color: white;
  background: transparent;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search-open:hover {
  opacity: 0.7;
}
@media (max-width: 574px) {
  .search-open span {
    display: none;
  }
}

.header-menu {
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1439px) {
  .header-menu {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .header-menu {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (max-width: 991px) {
  .header-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ac);
    padding-block: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.75rem;
    font-size: 1.25rem;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header-menu a {
  padding: 0.1875rem;
  color: white;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header-menu a:hover {
  opacity: 0.7;
}

.header-search-wrapper {
  padding-block: 1.5rem;
  position: absolute;
  top: -1.25rem;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .header-search-wrapper {
    padding-block: 1rem;
  }
}
.header-search-wrapper.search-form--open {
  top: 6.3125rem;
}
@media (max-width: 767px) {
  .header-search-wrapper.search-form--open {
    top: 4rem;
  }
}

.menu-toggle {
  width: 1.875rem;
  height: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 11;
  cursor: pointer;
}
@media (max-width: 991px) {
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu-toggle span {
  width: 100%;
  height: 0.125rem;
  position: relative;
  background-color: white;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu-toggle span::after, .menu-toggle span::before {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu-toggle span::after {
  top: -7px;
}
.menu-toggle span::before {
  bottom: -7px;
}

.active.menu-toggle span {
  background-color: transparent !important;
}
.active.menu-toggle span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}
.active.menu-toggle span::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.logo {
  margin-right: auto;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.095;
  color: #fff;
}
@media (max-width: 1024px) {
  .logo {
    font-size: 2rem;
  }
}
.logo span {
  color: var(--subAc);
}

.header {
  position: relative;
}
.header__container {
  padding-inline: 0.9375rem;
  margin: 0 auto;
  width: 100%;
  max-width: 86.875rem;
}

.header-nav {
  height: 6.3125rem;
  background-color: var(--ac);
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .header-nav {
    height: 4rem;
  }
}
.header-nav__btn {
  margin-left: 4.5625rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 1439px) {
  .header-nav__btn {
    margin-left: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .header-nav__btn {
    margin-left: 1.5rem;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (max-width: 991px) {
  .header-nav__btn .btn-outline {
    display: none;
  }
}