.logo {
  margin-right: auto;
  font-weight: 800;
  font-size: remy(40);
  line-height: 1.095;
  color: #fff;

  span {
    color: var(--subAc);
  }
}

.header {

  &__container {
    padding-inline: remy(15);
    margin: 0 auto;
    width: 100%;
    max-width: remy(1390);
  }
}

.header-nav {
  height: remy(101);
  background-color: var(--ac);
  position: relative;
  z-index: 3;

  &__btn {
    margin-left: remy(73);
    column-gap: remy(40);
  }
}

.header-slider {}