.btn,
.btn-outline {
  display: inline-block;
  min-width: remy(237);
  height: remy(68);
  flex-shrink: 0;
  line-height: remy(68);

  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  color: white;
  background-color: var(--ac);
  border-radius: remy(34);
  transition: .3s;

  @media (max-width:991px) {
    height: remy(56);
    line-height: remy(56);
  }

  @media (max-width:767px) {
    width: 100%;
    max-width: remy(288);
  }
}

.btn:hover {
  background-color: var(--darkAc);
}

.btn:focus {
  background-color: var(--darkAc);
  outline: remy(9) solid var(--outBr);
}

.btn-outline {
  border: remy(2) solid var(--ac);
  color: var(--ac);
  background-color: #fff;
  line-height: remy(64);

  @media (max-width:991px) {
    height: remy(60);
    line-height: remy(56);
  }
}

.btn-outline--slim {
  min-width: remy(166);
  height: remy(50);
  font-weight: 400;
  line-height: remy(46);
}

.btn-outline:hover {
  color: var(--darkAc);
  border-color: var(--darkAc);
}

.btn-outline:focus {
  color: var(--ac);
  background-color: #fff;
  border: remy(2) solid var(--ac);
  outline: remy(9) solid var(--outBr);
}

.btn-outline--slim:focus {
  outline: remy(5) solid var(--outBr);
}

.search-open {
  height: remy(50);
  column-gap: remy(6);
  color: white;
  background: transparent;
  transition: opacity .3s ease;

  &:hover {
    opacity: .7;
  }

  @media (max-width:574px) {
    span {
      display: none;
    }
  }
}