.btn,
.btn-outline {
  display: inline-block;
  min-width: remy(237);
  height: remy(68);
  line-height: remy(68);

  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: remy(.75);
  white-space: nowrap;
  text-align: center;
  color: white;
  background-color: $ac;
  border-radius: remy(34);
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background-color: darken($ac, 10);
}

.btn:focus {
  background-color: darken($ac, 10);
  outline: remy(9) solid $outBr;
}

.btn-outline {
  border: remy(2) solid $ac;
  color: $ac;
  background-color: #fff;
  line-height: remy(64);
}

.btn-outline:hover {
  color: darken($ac, 10);
  border-color: darken($ac, 10);
}

.btn-outline:focus {
  color: $ac;
  background-color: #fff;
  border: remy(2) solid $ac;
  outline: remy(9) solid $outBr;
}