.header-search-wrapper {
  padding-block: remy(24);
  position: absolute;
  top: remy(-20);
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .1);
  transition: .3s;

  @media (max-width: 767px) {
    padding-block: remy(16);
  }

  &.search-form--open {
    top: remy(101);

    @media (max-width: 767px) {
      top: remy(64);
    }
  }
}