.header-search-wrapper {
  padding-block: remy(30);
  height: remy(100);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .1);

  // opacity: 0;
  // visibility: hidden;
  z-index: 2;

  &.search-form--open {
    top: remy(101);
    // opacity: 1;
    // visibility: visible;
    transition: all .4s linear;
  }
}