@function remy($pxsize) {
  @return calc(($pxsize/16))+rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
}

a,
button {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

button,
input,
button:focus,
input:focus {
  padding: 0;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

body {
  --ac: #e43071;
  --subAc: #ffc1d8;
  --outBr: #ffdae7;
  --darkAc: #be285e;
}

body.green-theme {
  --ac: #26d68a;
  --subAc: #9be8c7;
  --outBr: #a1e7c9;
  --darkAc: #0b9056;
}

.lock {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: remy(1210);
  margin: 0 auto;
  padding-inline: remy(50);

  @media (max-width:1199px) {
    padding-inline: remy(30);
  }

  @media (max-width:767px) {
    padding-inline: remy(16);
  }
}