.h1 {
  font-weight: 800;
  font-size: remy(70);
  line-height: 1.1;
}

.h2 {
  font-weight: 800;
  font-size: remy(60);
  line-height: 1.1;
}

.h3 {
  font-weight: 600;
  font-size: remy(48);
  line-height: 1.1;
}

.h4 {
  font-weight: 800;
  font-size: remy(40);
  line-height: 1.1;
}

.h5 {
  font-weight: 600;
  font-size: remy(38);
  line-height: 1.1;
}